html, 
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Source Sans 3", sans-serif;
}

/* Nav section */

nav {
    display: flex;
    align-items: center;
    margin: 2em 2em;
}

.logo {
    width: 1.4em;
    margin-right: .5em;
}

.logo-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 0.813rem;
    line-height: 108.2%;
}

nav a {
    font-size: 0.75rem;
    color: #090909;
    text-decoration: none;
    padding-left: 1em;
}

.right {
    margin-left: auto;
}

/* Hero area */
.latest-page {
    cursor: pointer;
}

.hero-image {
    background-image: url("../images/article-image-hero.png");
    height: 18.313em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-text {
    color: #fff;
    padding-left: 1.2em;
    padding-right: 1.2em;
    padding-bottom: 0;
}

.hero-text .date {
    font-size: .75rem;
    padding-top: 5em;
}

.hero-text h1 {
    font-weight: 700;
    font-size: 2rem;
    line-height: 108%;
    letter-spacing: -3%;
    margin-top: 0;
    margin-bottom: 0;
}

.hero-text p {
    font-size: 1rem;
    font-weight: 400;
    line-height: normal;
    margin-top: .5em;
}

/* Blog Cards */
.cards-intro {
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
}

.cards-container {
    display: flex;
    flex-direction: column;
    margin: 2em 2em;
    align-items: center;
    gap: 1em;
}

.card .date {
    margin-top: 1em;
    margin-bottom: .5em;
    font-size: 0.875rem;
}

.card h2 {
    margin-top: 0;
    margin-bottom: 0;
}

.card p {
    font-weight: 400;
    line-height: 125%;
    color: #505050;
    margin-top: 0;
}

#view-btn {
    font-weight: 700;
    font-size: 1rem;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #000;
    display: block;
    margin: .5em auto 2.5em auto;
}

/* Footer */

footer {
    text-align: center;
    background-color: #202020;
    padding: 2em 1em;
}

footer h3 {
    font-size: 0.75rem;
    font-weight: 700;
    color: #D7D7D7;
    margin: 0;
}

footer p {
    font-size: 0.75rem;
    font-weight: 400;
    color: #D7D7D7;
    margin: 0;
}

/* About page */
main {
    margin: 1em 2em;
}

.avatar {
    width: 11.375em;
}

.about-header {
    color: #151515;
    font-size: 2.188rem;
    font-weight: 700;
    line-height: 108%;
    letter-spacing: -1.045px;;
}

.about-intro h2 {
    color: #151515;
    font-size: 1rem;
    font-weight: 700;
}

.about-intro p {
    color: #151515;
    font-size: 1rem;
    font-weight: 400;
}

/* Latest blog page */
article {
    margin: 2em 2em;
}
.article-title {
    color: #151515;
    font-size: 2rem;
    font-weight: 700;
    line-height: 108.2%;
    letter-spacing: -0.96px;
}

.article-image {
    width: 23.4em;
    height: 12em;
    object-fit: cover;
}

/* media query */
@media(min-width: 768px) {
    .logo-text {
        font-size: 1.25rem;
    }

    nav {
        margin: 1em 2em;
    }

    nav a {
        font-weight: 600;
        font-size: 1rem;
    }
    .hero-image {
        height: 35em;
        background-position: top;
    }
    .hero-text {
        padding-top: 15em;
        padding-left: 2.5em;
    }
    .hero-text h1 {
        font-size: 2.5rem;
    }
    .hero-text p {
        width: 80ch;
    }
    .cards-container {
        flex-direction: row;
    }
}