html, 
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Source Sans 3", sans-serif;
}

/* Nav section */

nav {
    display: flex;
    align-items: center;
    margin: 1.3em 1.3em;
}

.logo {
    width: 1.4em;
    margin-right: .5em;
}

.logo-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 0.813rem;
}

nav a {
    font-size: 0.75rem;
    color: #090909;
    text-decoration: none;
    padding-left: 1em;
}

.right {
    margin-left: auto;
}

/* Hero area */
.hero-image {
    background-image: url("../images/article-image-hero.png");
    height: 18.313em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-text {
    color: #fff;
    padding-left: 1.2em;
    padding-right: 1.2em;
    padding-bottom: 0;
}

.hero-text .date {
    font-size: .75rem;
    padding-top: 5em;
}

.hero-text h1 {
    font-weight: 700;
    font-size: 2rem;
    line-height: 108%;
    letter-spacing: -3%;
    margin-top: 0;
    margin-bottom: 0;
}

.hero-text p {
    font-size: 1rem;
    font-weight: 400;
    line-height: normal;
    margin-top: .5em;
}

/* Blog Cards */

.cards-container {
    display: flex;
    flex-direction: column;
    margin: 2em 2em;
    align-items: center;
    gap: 1em;
}

.card .date {
    margin-top: 1em;
    margin-bottom: .5em;
    font-size: 0.875rem;
}

.card h2 {
    margin-top: 0;
    margin-bottom: 0;
}

.card p {
    font-weight: 400;
    line-height: 125%;
    color: #505050;
    margin-top: 0;
}

#view-btn {
    font-weight: 700;
    font-size: 1rem;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #000;
    display: block;
    margin: .5em auto 2.5em auto;
}

/* Footer */

footer {
    text-align: center;
    background-color: #202020;
    padding: 2em 1em;
}

footer h3 {
    font-size: 0.75rem;
    font-weight: 700;
    color: #D7D7D7;
    margin: 0;
}

footer p {
    font-size: 0.75rem;
    font-weight: 400;
    color: #D7D7D7;
    margin: 0;
}